[core]
    editor = vim
[color]
    ui = auto
[user]
	email = gchauras@mit.edu
	name = Gaurav Chaurasia
[credential]
    helper = osxkeychain
[diff]
    tool = vimdiff
[merge]
    tool = fugitive
[difftool]
    prompt = false
[mergetool]
    keepBackup = false
[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[alias]
    logg = log --oneline --graph
    st = status
    ci = commit -m
	d = difftool
[push]
	default = simple
